POSTGRES_HOST=

POSTGRES_PORT=5432

POSTGRES_DB=decision_engine

POSTGRES_USER=

POSTGRES_PASSWORD=

TELEGRAM_TOKEN=

TELEGRAM_CHAT_ID=

HL_API_KEY=

HL_SECRET=

WHALE_ENABLED=true
LARGE_TRANSFER_THRESHOLD=100000
LIQUIDITY_ENABLED=true
ORDERFLOW_ENABLED=true
MARKET_STRUCTURE_ENABLED=true
